{% extends "base.html" %}
{% block title %} Ajouter une arme{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Enregistrer une arme de location
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_arme">
						Nom Arme
					</label>
					<input type ="text" class="form-control" name="nom_arme_html" />
                    <label for="fk_muniton">
						Calibre de l'arme
					</label>
					<input type ="number" class="form-control" name="fk_munition_html" />
                    <label for="fk_type_arme">
						Type d'arme
					</label>
					<input type ="number" class="form-control" name="fk_type_arme_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer l'arme
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
