{% extends "base.html" %}
{% block title %} Afficher la liste d'armes{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Armes à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Nom de l'arme
                        </th>
                        <th class="align-middle">
                            Calibre de l'arme
                        </th>
                        <th class="align-middle">
                            Type d'arme
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_arme }}
						</td>
						<td class="align-middle">
							{{ row.nom_arme }}
						</td>
                        <td class="align-middle">
							{{ row.calibre }}
						</td>
                        <td class="align-middle">
							{{ row.type_arme }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('arme_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('arme_edit', id_arme_edit_html=row.id_arme) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('arme_select_delete', id_arme_delete_html=row.id_arme) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune arme.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('arme_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

