{% extends "base.html" %}
{% block title %} Afficher stand_de_tir {% endblock %}
{% block body %}
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Teléphone</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_stand_de_tir }}</td>
                    <td>{{ row.nom_stand_de_tir }}</td>
                    <td>{{ row.adresse_stand_de_tir }}</td>
                    <td>{{ row.tel_stand_de_tir }}</td>
                    <td> <a href="{{ url_for('stand_de_tir_add') }}">Add</a> </td>
                    <td> <a href="{{ url_for('stand_de_tir_edit', id_stand_de_tir_edit_html=row.id_stand_de_tir) }}">Edit</a> </td>
                    <td> <a href="{{ url_for('stand_de_tir_select_delete', id_stand_de_tir_delete_html=row.id_stand_de_tir) }}">Delete</a> </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}

