{% extends "base.html" %}
{% block title %} Homepage erreur 404 {% endblock %}
{% block body %}
  <h1>Home page</h1>
<p>grosse erreur 404...!!!!??</p>
<p>404 Not Found
Le serveur n'a pas trouvé la ressource demandée. Ce code de réponse est principalement connu pour son apparition fréquente sur le web.</p>
Pour encore plus de codes d'erreurs...
<a href="https://developer.mozilla.org/fr/docs/Web/HTTP/Status" target="_blank">https://developer.mozilla.org/fr/docs/Web/HTTP/Status</a></a>
<br><br>
{% endblock %}