{% extends "base.html" %}
{% block title %} Essai de capture d'erreurs {% endblock %}
{% block body %}
<h1>Comment capturer une erreur en Python.</h1><br>
<h1>Elle est renvoyée dans une page html "DEVANT LES YEUX EXORBITES DE L'UTILISATEUR"</h1>
<p>ATTENTION il faut changer la valeur de la variable "nom_personne" dans le code Python</p>
<p>dans le fichier "routes.py" dans la fonction "personnes_taille_dict()"</p>
<br>
<p>Il attend... que vous alliez dans le code changer la valeur de la variable "nom_personne" "à la main"</p>
<p>..cela ne sert à rien de regarder bêtement cette page...alors zou..allez-y !!!</p>
{% endblock %}