{% extends "base.html" %}
{% block title %} Essai de capture d'erreurs {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
            <h3>
                Comment capturer une erreur en Python.
            </h3>
			<p>
                C'est un exemple, cela n'a rien à voir avec votre projet...quoique... cela vous permet de comprendre !!!<br>
                Elle est renvoyée dans une page html "DEVANT LES YEUX EXORBITÉS DE L'UTILISATEUR".<br><br>
                ATTENTION il faut changer la valeur de la variable "nom_personne" dans le code Python<br>
                dans le fichier "routes.py" dans la fonction "personnes_taille_dict()"
                <br><br>
                Il attend... que vous alliez dans le code changer la valeur de la variable "nom_personne" "à la main"<br>
                ..cela ne sert à rien de regarder bêtement cette page...alors zou..allez-y !!!
			</p>
		</div>
	</div>
</div>

{% endblock %}
