{% extends "base.html" %}
{% block title %}DELETE concours{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="yellow">
            <form method="POST" action="{{ url_for('concours_delete') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID Concours</th>
                            <th>Date concours</th>
                            <th>Type concours</th>
                            <th>Stand de tir</th>
                            <th>Adresse</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_concours_delete_html" value="{{ row.id_concours }}"></td>
                            <td>{{ row.date_concours }}</td>
                            <td>{{ row.type_concours }}</td>
                            <td>{{ row.stand_de_tir }}</td>
                            <td>{{ row.adresse_stand_de_tir }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}