{% extends "base.html" %}
{% block title %} Afficher les concours. {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Liste des concours.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Date du concours
                        </th>
                        <th class="align-middle">
                            Type du concours
                        </th>
                        <th class="align-middle">
                            Nom du stand de tir
                        </th>
                        <th class="align-middle">
                            Adresse du stand de tir
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_concours }}
						</td>
						<td class="align-middle">
							{{ row.date_concours }}
						</td>
                        <td class="align-middle">
							{{ row.type_concours }}
						</td>
                        <td class="align-middle">
							{{ row.nom_stand_de_tir }}
						</td>
                        <td class="align-middle">
							{{ row.adresse_stand_de_tir }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('concours_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('concours_edit', id_concours_edit_html=row.id_concours) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('concours_select_delete', id_concours_delete_html=row.id_concours) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun concours.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('concours_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}