{% extends "base.html" %}
{% block title %} Afficher munition {% endblock %}
{% block body %}
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Calibre</th>
                    <th>Prix par 50 cartouches</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_munition }}</td>
                    <td>{{ row.calibre }}</td>
                    <td>{{ row.prix_p_50 }}</td>
                    <td> <a href="{{ url_for('munition_add') }}">Add</a> </td>
                    <td> <a href="{{ url_for('munition_edit', id_munition_edit_html=row.id_munition) }}">Edit</a> </td>
                    <td> <a href="{{ url_for('munition_select_delete', id_munition_delete_html=row.id_munition) }}">Delete</a> </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}

