{% extends "base.html" %}
{% block title %}DELETE munition{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="yellow">
            <form method="POST" action="{{ url_for('personne_delete') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Munition</th>
                            <th>Type munition</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_personne_delete_html" value="{{ row.id_personne }}"></td>
                            <td>{{ row.nom_munition }}</td>
                            <td>{{ row.fk_munition }}</td>
                            <td>{{ row.fk_type_munition }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}