{% extends "base.html" %}
{% block title %} Ajouter un type de munition {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une munition en armurerie
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Calibre">
						Calibre
					</label>
					<input type ="text" class="form-control" name="calibre_html" />
                    <label for="Prix_p_50">
						Prix pour 50 cartouches
					</label>
					<input type ="number" class="form-control" name="prix_p_50_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le type de munition
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
