{% extends "base.html" %}
{% block title %}UPDATE Munition{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier cette munition.
			</p>
			<form method="POST" action="{{ url_for('munition_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                Calibre
                            </th>
                            <th>
                                Prix pour 50 cartouches
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <input type="hidden" name="id_concours_edit_html" value="{{ row.id_munition }}"/>
                                <td>
                                    <input type = "text" name = "calibre_html" value="{{ row.calibre }}"/>
                                </td>
                                <td>
                                    <input type = "number" name = "prix_p_50_html" value="{{ row.prix_p_50 }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
