{% extends "base.html" %}
{% block title %} Ajouter une munition{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="brown">
        <form method="POST" action="">
            <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <center>
                <H1>Clavioter une nouvelle munition</H1> <br>
                Calibre <input type = "text" name= "calibre_html" /> <br>
                Prix pour 50 cartouches <input type = "number" name= "prix_p_50_html" /> <br>
                <input type = "submit" value="Enregistrer la munition">
            </center>
        </form>
        </BODY>
    </div>
{% endblock %}