{% extends "base.html" %}
{% block title %}DELETE personne{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="yellow">
            <form method="POST" action="{{ url_for('personne_delete') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID Personne</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Date de naissance</th>
                            <th>Possession arme</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_personne_delete_html" value="{{ row.id_personne }}"></td>
                            <td>{{ row.nom_pers }}</td>
                            <td>{{ row.prenom_pers }}</td>
                            <td>{{ row.date_de_naissance }}</td>
                            <td>{{ row.possession_arme }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}