{% extends "base.html" %}
{% block title %} Ajouter un membre de la société {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Enregistrer un membre de la société
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom">
						Nom de la personne
					</label>
					<input type ="text" class="form-control" name="nom_pers_html" />
                    <label for="Prenom">
						Prenom de la personne
					</label>
					<input type ="text" class="form-control" name="prenom_pers_html" />
                    <label for="Date_de_naissanxe">
						Date de naissance de la personne
					</label>
					<input type ="date" class="form-control" name="date_de_naissance_html" />
                    <label for="Possession_arme">
						Est-ce que cette personne possède une arme ?
					</label>
					<input type ="number" class="form-control" name="possession_arme_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le membre de la société
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
