{% extends "base.html" %}
{% block title %}DELETE Type d'arme{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="yellow">
            <form method="POST" action="{{ url_for('type_arme_delete') }}">
                <div>

                </div>
                <br>
           <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Type d'arme
                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
                        <input type="hidden" name="id_type_arme_delete_html" value="{{ row.id_type_arme }}">
						<td class="align-middle">
							{{ row.id_type_arme }}
						</td>
						<td class="text-center" class="align-middle">
							<button class="btn btn-danger" type="submit">EFFACER</button>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
            </form>
        </BODY>
    </div>
{% endblock %}

